<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="pacotes">
    <section class="hp-room-section">
        <div class="section-title" style="text-align: center; padding: 5px; background-color: #5a172d; ">
            <h1 style="color: white; padding: 18px; margin: auto" id="link5">Pacotes</h1></div>
        <div class="container-fluid" style="margin-top: 30px">
            <div class="hp-room-items">
                <div class="row">



                    <div class="col-lg-3 col-md-6" th:each="pacote : ${pacotes}">
                        <div class="hp-room-item set-bg" data-setbg="/img/room/room-b1.jpg">
                            <div class="hr-text">
                                <h3 th:text="${pacote.nomeDestino}">Barcelona</h3>
                                <h2>R$12.700<span>/ 7-10 dias</span></h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Hospede:</td>
                                        <td>1 pessoa</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Quarto:</td>
                                        <td>King completo</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Serviços:</td>
                                        <td>Wifi, Televisão, Restaurante, Academia e muito mais</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="/home/pacote" class="primary-btn">Mais detalhes</a>
                                <br><br>
                                <a href="/home/reserva" class="primary-btn">Reservar agora!</a>

                            </div>
                        </div>
                        <br>
                    </div>











                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/img/room/room-b2.jpg">
                            <div class="hr-text">
                                <h3>Capri</h3>
                                <h2>R$19.900<span>/ 7-10 dias</span></h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Hospede:</td>
                                        <td>1 pessoa</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Quarto:</td>
                                        <td>King completo</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Serviços:</td>
                                        <td>Wifi, Televisão, Restaurante, Academia e muito mais</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="/home/pacote" class="primary-btn">Mais detalhes</a>
                                <br><br>
                                <a href="/home/reserva" class="primary-btn">Reservar agora!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/img/room/room-b3.jpg" style="margin-top: 0px">
                            <div class="hr-text">
                                <h3>Caribe</h3>
                                <h2>R$23.850<span>/ 7-10 dias</span></h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Hospede:</td>
                                        <td>1 pessoa</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Quarto:</td>
                                        <td>King completo</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Serviços:</td>
                                        <td>Wifi, Televisão, Restaurante, Academia e muito mais</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="/home/pacote" class="primary-btn">Mais detalhes</a>
                                <br><br>
                                <a href="/home/reserva" class="primary-btn">Reservar agora!</a>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="/img/room/room-b4.jpg">
                            <div class="hr-text">
                                <h3>Santorini</h3>
                                <h2>R$20.500<span>/ 7-10 dias</span></h2>
                                <table>
                                    <tbody>
                                    <tr>
                                        <td class="r-o">Hospede:</td>
                                        <td>1 pessoa</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Quarto:</td>
                                        <td>King completo</td>
                                    </tr>
                                    <tr>
                                        <td class="r-o">Serviços:</td>
                                        <td>Wifi, Televisão, Restaurante, Academia e muito mais</td>
                                    </tr>
                                    </tbody>
                                </table>
                                <a href="/home/pacote" class="primary-btn">Mais detalhes</a>
                                <br><br>
                                <a href="/home/reserva" class="primary-btn">Reservar agora!</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>

</body>
</html>