.contact-container {
    max-width: 1140px;
    margin: 40px auto;
    text-align: center;
}

/* Seção do Formulário */
.form-section {
    padding: 20px;
}

.form-section h1 {
    font-size: 3rem;
    margin-bottom: 10px;
    color: var(--dark-gray);
}

.form-section .subtitle {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-bottom: 40px;
}

.contact-form {
    display: flex;
    justify-content: center;
    gap: 50px;
    margin-bottom: 20px;
}

.form-group {
    text-align: left;
}

.form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: 600;
    font-size: 0.9rem;
}

.contact-form2 {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-bottom: 20px;
}

.contact-form input {
    width: 600px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-gray);
    font-size: 1rem;
}

.contact-form2 input {
    width: 600px;
    padding: 15px;
    border: none;
    border-radius: 8px;
    background-color: var(--light-gray);
    font-size: 1rem;
}

.contact-form input::placeholder {
    color: #999;
}

.submit-button {
    background-color: #5A172DFF;
    color: white;
    border: none;
    padding: 15px 80px;
    border-radius: 30px;
    font-size: 1rem;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #7c2143;
}

/* Seção de Informações */
.info-wrapper {
    background-color: #f7f7f7;
    padding-top: 80px; /* Espaço para os ícones "flutuarem" para cima */
    position: relative;
}

.info-section {
    display: flex;
    justify-content: space-around;
    max-width: 1140px;
    margin: -40px auto 0; /* Margem negativa para subir os ícones */
    position: relative;
    z-index: 2;
}

.info-box {
    flex: 1;
    padding: 20px;
    max-width: 300px;
}

.icon-circle {
    width: 100px;
    height: 100px;
    background-color: #5A172DFF;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto 20px auto;
}
.icon-circle:hover {
    background-color: #7c2143;
}

.icon-circle i {
    color: white;
    font-size: 2.5rem;
}

.info-box h3 {
    font-size: 1.2rem;
    margin-bottom: 15px;
}

.info-box p {
    font-size: 1rem;
    color: var(--text-color);
    line-height: 1.6;
    margin: 5px 0;
}

.footer-bar {
    height: 100px;
    background-color: var(--primary-color);
}

.subtitle p {
    color:#5a172d ;
}