.divpai-adm{
    display: flex;
    margin-top: 60px;
    justify-content: center;

}

img{
    margin-top: 30px;
}

.listagem-adm{
    max-width: 100px;
    padding: 70px 55px;
    background-color: #5a172d;
    border-radius: 10px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);
    justify-content: center;
}

.pacotes-adm{
    max-width: 100px;
    padding: 50px;
    background-color: #5a172d;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);
    align-items: center;
}

.quartos-adm{
    max-width: 100px;
    padding: 50px;
    background-color: #5a172d;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);

}

.navio-adm{
    max-width: 100px;
    padding: 60px;
    background-color: #5a172d;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);
}

.navio-adm{
    max-width: 100px;
    padding: 60px;
    background-color: #5a172d;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);
}

.adms-adm{
    max-width: 100px;
    padding: 60px;
    background-color: #5a172d;
    border-radius: 10px;
    margin-left: 30px;
    box-shadow: 0px 8px 20px rgba(0, 0, 0, 0.425);
}

p{
    color: white;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

.div-img{
    justify-content: center;
    display: flex;
    margin-top: 80px;
}

svg{
    width:60px ;
    margin: 0 auto;
}

.meio{
    margin-left: 10px;
    margin-top: 10px;
}