* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

body {
    color: #333;
    background-color: #eceff1;
    line-height: 1.6;
}

header{
    background-color: white;
}

.imglogo{
    padding: 40px;
}

h1{
    color: white;
}


.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin-left: 1.5rem;
}

nav ul li a {
    color: white;
    text-decoration: none;
    transition: color 0.3s;
}

nav ul li a:hover {
    color: #e0af53;
}

.hero {
    text-align: center;
    background: linear-gradient(to right, rgb(90, 23, 45), #5a172d);
    color: white;
    padding: 5rem 1rem;

}

.hero h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
}

.btn {
    display: inline-block;
    background: #e0af53;
    color: white;
    padding: 0.8rem 1.5rem;
    border-radius: 5px;
    text-decoration: none;
    transition: background 0.3s;
}

.btn:hover {
    background: #af873d;
    color: #FFFFFF;
}

.content {
    padding: 3rem 2rem;
    background: white;
    margin: 2rem auto;
    max-width: 900px;
    border-radius: 10px;
    box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.content h2 {
    color: rgba(90, 23, 45, 0.73);
    margin-bottom: 1rem;
}

.content ul {
    list-style: none;
    margin-top: 1rem;
}

.content ul li {
    margin: 0.5rem 0;
}

.contact {
    text-align: center;
    padding: 3rem 1rem;
    background: #eceff1;
    color: white;
}

.contact form {
    max-width: 500px;
    margin: 2rem auto;
    display: flex;
    flex-direction: column;
}

.contact input, .contact textarea {
    margin-bottom: 1rem;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
}

.contact button {
    background: #e0af53;
    color: white;
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

footer {
    background: rgba(90, 23, 45, 0.73);
    color: white;
    text-align: center;
    padding: 1rem;
}