body {
    margin: 0;
    padding: 0;
    background-color: rgb(245, 247, 248);
}


.principal-login{
    display: flex;
    margin-bottom: 40px;
    margin-left: 300px;
    margin-top: 100px;

}

h1{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 25px;
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 30px;
}


.login-form {
    background-color: #ffffff;
    width: 450px;
    height: 525px;
    padding: 12px;
    margin-left: 0px;
    border-radius: 0px 7px 7px 0px;
    box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.425);
    align-items: center;
}

label{
    display: block;
    margin-top: 30px;
    font-weight: bold;
    font-size: 17px;
    margin-left: 35px;
    color:#5a172dc5;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

input[type="text"],
input[type="password"] {
    width: 80%;
    padding: 10px 0px 10px 10px;
    margin-left: 35px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 14px;
    font-size: 14px;
    border-color: #5a5959;
    background-color: #ffffff75;

}

.login-form-usuario,.login-form-senha{
    margin-right: 15px;
    padding: 0px;
    border-color: #5a5959;
}

p {
    margin-top: 10px;
    margin-left: 265px;
    font-size: 15px;
    cursor: pointer;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
    color: #5a172d;

}

p:hover {

    text-decoration: underline;
}


.a1 {
    color: black;
    font-size: 16px;
    text-decoration: none;
}
.a2 {
    color: white;
    font-size: 16px;
    text-decoration: none;
}

.buttonLogin1{
    margin-left: 35px;
    padding: 13px 30px;
    background-color: #daa94f;
    font-size: 15px;
    border-radius: 10px;
    border: none;
}
.buttonLogin1:hover{

    background-color: #a17c37;
}




.buttonLogin2{
    margin-left: 110px;
    padding: 13px 30px;
    background-color: #5d152d;
    border-radius: 10px;
    font-size: 15px;
    border: none;
    color: #FFFFFF;

}

.buttonLogin2:hover{
    background-color: #431222;

}

.buttons{
    display: flex;
    margin-top: 50px;
}