<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="feedbacks">
    <section class="testimonial-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="section-title">
                        <span>Feedbacks</span>
                        <h2 id="link3">O que os clientes dizem?</h2>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 offset-lg-2">
                    <div class="testimonial-slider owl-carousel">
                        <div class="ts-item">
                            <p>Desde o momento em que embarcamos, fomos recebidos com um atendimento excelente e uma
                                atmosfera acolhedora. O navio era gigante e repleto de opções de entretenimento: shows à
                                noite, festas, várias piscinas e até atividades para crianças, o que me permitiu relaxar
                                enquanto meus filhos se divertiam. As paradas nas cidades costeiras foram maravilhosas,
                                com excursões guiadas que me permitiram conhecer novos lugares de uma forma bem prática
                                e sem preocupação. O único ponto que poderia melhorar seria a comida, que, embora
                                deliciosa, era um pouco repetitiva após alguns dias. No geral, a viagem foi uma
                                experiência inesquecível e com certeza voltarei em um próximo cruzeiro!</p>

                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - João Alves</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>Fiquei impressionado com a variedade e qualidade do entretenimento a bordo do Vittalis.
                                Desde os shows noturnos no teatro principal, com produções de tirar o fôlego, até as
                                bandas ao vivo nos lounges e as atividades interativas durante o dia, nunca houve um
                                momento de tédio. Há algo para todos os gostos, garantindo diversão ininterrupta para
                                famílias, casais e amigos.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                </div>
                                <h5> - Julia Domingues</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>Adorei as experiências no cruzeiro Vittalis foi maravilhosa! O navio era imenso, com
                                várias opções de lazer, como shows, música ao vivo e atividades para todas as idades. A
                                equipe de atendimento foi muito simpática e atenciosa, sempre pronta para garantir que
                                tudo corresse bem. As paradas nas cidades foram fantásticas, com passeios que nos
                                permitiram explorar cada destino de forma tranquila e interessante. O único ponto
                                negativo foi o tempo de espera para alguns serviços durante os momentos de pico, o que
                                gerava uma pequena aglomeração. No entanto, isso não comprometeu a experiência geral,
                                que foi incrível. Adorei cada momento e com certeza recomendaria para quem busca uma
                                viagem relaxante e divertida!</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star-half_alt"></i>
                                </div>
                                <h5> - Lucas Santos</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                        <div class="ts-item">
                            <p>A culinária do Cruzeiro Vittalis superou minhas expectativas! Os restaurantes oferecem
                                uma gama incrível de opções, desde buffets temáticos que exploram sabores do mundo até
                                jantares à la carte com pratos sofisticados e apresentação impecável. Cada refeição era
                                uma nova descoberta, com ingredientes frescos e um serviço atencioso que tornava a
                                experiência ainda mais especial.</p>
                            <div class="ti-author">
                                <div class="rating">
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>
                                    <i class="icon_star"></i>

                                </div>
                                <h5> - Laura Silva</h5>
                            </div>
                            <img src="img/testimonial-logo.png" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
</body>
</html>