<footer class="footer-section">
  <div class="container">
    <div class="footer-text">
      <div class="row">
        <div class="col-lg-4">
          <div class="ft-about">
            <div class="logo">
              <a href="#" >
                <img th:src="@{/img/cruzeiro.jpg}" width="120px" height="100px" alt="">

              </a>
            </div>
            <p >Na Cruzeiro Vittalis, inspiramos e encantamos milhões de viajantes pelos mares do mundo,<br /> conectando sonhos em cada porto.</p>
            <div class="fa-social">
              <a href="#"><i class="fa fa-facebook"></i></a>
              <a href="#"><i class="fa fa-twitter"></i></a>
              <a href="#"><i class="fa fa-tripadvisor"></i></a>
              <a href="#"><i class="fa fa-instagram"></i></a>
              <a href="#"><i class="fa fa-youtube-play"></i></a>
            </div>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-contact">
            <h6 id="link4">Contato</h6>
            <ul>
              <li>Avenida Oceano Azul, 1500 – Torre Marítima, 18º andar <br /> Bairro Porto Novo – Rio de Janeiro, RJ</li>
              <li>Telefone: (21) 3000-5000</li>
              <li>E-mail: vittalis_cruzeiro@gmail.com</li>
            </ul>
          </div>
        </div>
        <div class="col-lg-3 offset-lg-1">
          <div class="ft-newslatter">
            <h6>Novidades Receba</h6>
            <p>As últimas atualizações e ofertas.</p>
            <form action="#" class="fn-form">
              <input type="text" placeholder="Email">
              <button type="submit"><i class="fa fa-send"></i></button>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="copyright-option">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <ul>
            <li><a href="/home/lei">Política de privacidade</a></li>
          </ul>
        </div>
        <div class="col-lg-5">
          <div class="co-text"><p><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
            VITTALIS &copy;<script>document.write(new Date().getFullYear());</script> Todos os direitos reservados
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>