<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header class="header-section">

        <div class="menu-item">
            <div class="container">
                <div class="row">
                    <div class="col-lg-2">
                        <div class="logo">
                            <a href="/home">
                                <img th:src="@{/img/logo2.png}" alt="logo" width="500px" height="40px">
                            </a>
                        </div>
                    </div>
                    <div class="col-lg-10" style="margin-top: 10px" >
                        <div class="nav-menu">
                            <nav class="mainmenu">
                                <ul >
                                    <li class="active"><a href="./administrador">Início</a></li>
                                    <li><a href="./cliente">Listagem de Clientes</a></li>
                                </ul>
                            </nav>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>