<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="header">
    <header class="header-section">
        <div class="menu-item">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center">

                    <!-- Logo à esquerda -->
                    <div class="logo-col">
                        <a href="/home">
                            <img th:src="@{/img/letra000.png}" alt="logo">
                        </a>
                    </div>

                    <!-- Menu e botão à direita -->
                    <div class="nav-menu d-flex align-items-center">
                        <nav class="mainmenu">
                            <ul class="d-flex mb-0">
                                <li class="active"><a href="/home">Início</a></li>
                                <li><a href="#link5">Pacotes</a></li>
                                <li><a href="./about-us.html" style="display: flex">Minhas Reservas</a></li>
                                <li><a href="../home/contato">Contato</a></li>
                                <li><a href="#">Sobre nós</a>
                                    <ul class="dropdown">
                                        <li><a href="#link1">Blog</a></li>
                                        <li><a href="#link2">História</a></li>
                                        <li><a href="#link3">Feedbacks</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </nav>
                        <div class="divBotaoLogin ms-3">
                            <a href="/login"><button class="botaoLogin">Login</button></a>
                        </div>
                    </div>

                </div>
            </div>
        </div>
    </header>
</div>
</body>
</html>
