<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div th:fragment="sobre-nos">
    <section class="aboutus-section spad">
        <div class="container">
            <div class="row">
                <div class="col-lg-6">
                    <div class="about-text">
                        <div class="section-title">
                            <span id="link2">Sobre nós</span>
                            <h2 >AGÊNCIA VITTALIS</h2>
                        </div>
                        <p class="f-para">
                            Um cruzeiro é uma experiência única de viagem, onde os passageiros embarcam em um grande navio para explorar diferentes destinos em alto-mar. Além de ser uma forma confortável e divertida de viajar, o cruzeiro oferece uma ampla variedade de atividades a bordo, como piscinas, restaurantes, spas e entretenimento ao vivo, garantindo diversão para todos os gostos.</p>
                        <p class="s-para">Durante a viagem, os passageiros podem aproveitar momentos de relaxamento enquanto exploram várias cidades costeiras, cada uma com suas características culturais e turísticas. Com itinerários que variam de algumas noites a semanas, os cruzeiros oferecem a oportunidade de vivenciar um mix de aventura, lazer e conforto, tornando-se uma opção popular para quem busca uma experiência de viagem completa.</p>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="about-pic">
                        <div class="row">
                            <div class="col-sm-6">
                                <img src="img/about/about-1.jpg" alt="" width="150px">
                            </div>
                            <div class="col-sm-6">
                                <img src="img/about/about-2.jpg" width="150px" alt="">
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </section>
</div>
</body>
</html>