.campo{
    border-radius: 5px;
}

.principal{
    display: flex;
    padding: 20px;
}

.div1{
    width: 50%;
    padding: 10px;
}

.div2{
    width: 50%;
    padding: 10px;
}

.botaoCadastrar{
    font-size: 16px;
    font-family: "Cabin", sans-serif;
    border-radius: 30px;
    color: #19191a;
    background-color: #FFFFFF;
    margin-right: 15px;
    margin-left: 15px;
    width: 100px;
    height: 50px;
    border-width: 2px;
}

.botaoCadastrar:hover{
    color: #ffffff;
    background-color: #5A172DFF;
    border: none;
}

.divBotoes{
    display: flex;
}

.formulario{
color:#5a172d ;
}

.nomeInput{
    color: #5a172d;
}

.dados{
 padding: 10px 0px 10px 0px;
}
.navios{
    display: block;
    width: 100%;
    height: calc(1.5em + .75rem + 2px);
    padding: .375rem .75rem;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #ced4da;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
}

 #w3review{
    border-radius: 5px;
     color: #858585;
     border-color: #cac9c9;
}

 .error {
     color: red;
 }
.is-invalid {
    border-color: red;
}
.client-error {
    color: orange;
    font-size: 0.9em;
}

.mensagem-erro{
    color: red;
}

.addquarto{
    background-color: #5a172d;
    border-radius: 5px;
    border: none;
    color: white;
    float: right;
    width: 35px;
    height: 35px;

}

.checkbox{
    width: 20px;
    height: 20px;
    margin: 10px;
    margin-left: 60px;
}

.checkbox-grande {
    transform: scale(1.6);
    margin-right: 8px;
}




.form-check-label{
    font-size: 15px;
    padding: 5px;
    justify-content: center;

}

.form-label{
    padding: 10px;
}





