body {
    font-family: Arial, sans-serif;
    background-color: #ffff; /* Branco */
    color: #5a172d; /* Vinho */
    margin: 0;
    padding: 20px;
}

.container {
    max-width: 800px;
    margin: 0 auto;
}

p{
    text-align: center;
}


 h3 {
    text-align: center;
     padding: 10px;
}

h1 {
    text-align: center;
    padding:20px;
}


.cards-container {
    display: flex;
    flex-wrap: wrap;   /* permite quebrar linha caso não caiba */
    gap: 20px;         /* espacinho entre os cards */
    justify-content: center;
    padding: 30px;
    margin-bottom: 80px;
}

.card {
    background-color: white;
    color: #5a172d;
    width: 280px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
}

.card-image {
    width: 100%;
    height: 140px;
    object-fit: cover;
    border-radius: 6px;
}

.card-content {
    flex: 1;
}

.card-content h3 {
    margin: 0;
    color: #000000; /* Dourado */
}

.card-content p {
    margin: 5px 0;
}

.checkin-btn {
    background-color: #eaaf30; /* Dourado */
    color: #5a172d; /* Vinho */
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

.checkin-btn:hover {
    background-color: #c59226; /* Dourado */
}

.checkin-list {
    margin-top: 20px;
    padding: 20px;
    background-color: #f0f0f0; /* Cinza claro */
    border-radius: 8px;
    display: flex;
    align-items: center;
}

.list-cinza {
    flex: 1;
    color: #5a172d; /* Vinho */
    list-style-type: disc;
    padding-left: 20px;
}

.qrcode-image {
    width: 100px;
    height: 100px;
    margin-left: 20px;
}