<!DOCTYPE html>
<html lang="en">
<head>
    <title>Vittalis - Login</title>
    <link rel="icon" type="imagem/png" href="/img/sub-logo1.png">
    <link rel="stylesheet" href="/css/login.css"/>
</head>

<body>
<a href="/home"><img src="/img/vittalis.png" width="150"/></a>
<div class="login-form">
    <div class="login-form-usuario">
        <label for="username">Usuário:</label>
        <input type="text" id="username" name="username" placeholder="Ex: user123@com.br" required/>
    </div>
    <div class="login-form-senha">
        <label for="password">Senha:</label>
        <input type="password" id="password" name="password" placeholder="*******" required/>
    </div>
    <p href="./esqueciSenha">Esqueci a senha?</p>
    <div class="buttons">
        <button class="buttonLogin1"><a href="#" class="a1">Entrar</a></button>
        <button class="buttonLogin2"><a href="/cliente/cadastro" class="a2">Cadastre-se</a></button>
    </div>
</div>
</body>
</html>