<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Vittalis - Login</title>
    <link rel="icon" type="imagem/png" href="/img/sub-logo1.png">
    <link rel="stylesheet" href="/css/login.css"/>
    <link rel="stylesheet" href="/css/bootstrap.min.css" type="text/css">
</head>

<body>
<form th:action="@{/login}" method="POST">

    <!-- Mensagem carregada após a alteração ou exclusão dos dados-->
    <div class="alert alert-success alert-dismissible fade show" th:if="${mensagem}">
        <!--/*@thymesVar id="mensagem" type=""*/-->
        <span th:text="${mensagem}"></span>
    </div>

    <div class="principal-login">
        <div>
            <a th:href="@{/home}">
                <img src="/img/img-vittalis.png" width="450" height="525px" alt="Vittalis Logo"/>
            </a>
        </div>
        <div class="login-form">
            <h1>Login</h1>
            <div class="login-form-usuario">
                <label for="username">Usuário:</label>
                <input type="text" id="username" name="username" placeholder="Ex: user123@com.br" required/>
            </div>
            <div class="login-form-senha">
                <label for="password">Senha:</label>
                <input type="password" id="password" name="password" placeholder="*******" required/>
            </div>

            <div class="login-options">
                <div class="remember-me">
                    <input type="checkbox" id="remember-me" name="remember-me">
                    <label for="remember-me" >Lembrar-me</label>
                </div>
                <a href="./esqueciSenha" class="a3">Esqueci a senha?</a>
            </div>

            <div class="buttons">
                <input type="submit" class="buttonLogin1" value="Entrar" />
                <button type="button" onclick="window.location.href='/cliente/cadastro'" class="buttonLogin2">Cadastre-se</button>
            </div>
        </div>
    </div>
</form>
</body>
</html>
